apiVersion: v1
kind: ConfigMap
metadata:
  name: mlr-dev-fe-cm
  namespace: mlr-dev-fe-ns
data:
  API_URL: "http://mlr-dev-be-svc-nod.mlr-dev-be-ns.svc.cluster.local:3000"
  FAST_API_URL: "http://mlr-dev-be-svc-fap.mlr-dev-be-ns.svc.cluster.local:5000"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: mlr-dev-be-cm-nod
  namespace: mlr-dev-be-ns
data:
  MYSQL_HOST: "mlr-dev-db-svc.mlr-dev-db-ns.svc.cluster.local"
  FRONT_URI: "https://192.168.0.206:32423"
  KAKAO_REDIRECT_URI: "https://192.168.0.206:32423/back/auth/kakao/redirect"
  KAKAO_SCOPE: "openid,account_email"
  NAVER_REDIRECT_URI: "https://192.168.0.206:32423/back/auth/naver/redirect"
  NAVER_STATE: "1234567890"
  GOOGLE_REDIRECT_URI: "https://192.168.0.206:32423/back/auth/google/redirect"
  GOOGLE_SCOPE: "openid email"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: mlr-dev-be-cm-fap
  namespace: mlr-dev-be-ns
data:
  SENTINEL_HOST: "mlr-dev-rds-svc-snt.mlr-dev-rds-ns.svc.cluster.local"
  SENTINEL_PORT: "26379"
  SENTINEL_MASTER_NAME: "mymaster"


